[Unit]
Description=Supervisord

[Service]
PrivateTmp=true
Type=simple
ExecStart={{exe_path}} daemon
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s SIGUSR2  $MAINPID 
TimeoutStopSec=150
Restart=on-failure
 

[Install]
WantedBy=multi-user.target