[Unit]
Description=Supervisord Process Supervisor
After=network.target

[Service]
Type=simple
WorkingDirectory={{WorkingDirectory}}
ExecStart={{ExePath}} daemon
Restart=on-failure
RestartSec=3s
TimeoutStopSec=30s
KillMode=control-group

[Install]
WantedBy=multi-user.target